.App {
  text-align: center;
  padding-bottom: 2em;
  font-size: 14px;
}

.ui.main.container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .footer .menu .item {
  font-size: 14px;
}

.categories .menu .item {
  font-size: 14px;
} */